.Row {
  box-sizing: border-box;
  display: block;
}
@media screen and (min-width: 768px) {
  .Row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.Centred {
  align-items: center;
}

.Middle {
  justify-content: center;
}

.Col,
.Col1,
.Col2,
.Col3,
.Col4,
.Col5,
.Col6,
.Col7,
.Col8,
.Col9,
.Col10,
.Col11,
.Col12,
.ColOffset0,
.ColOffset1,
.ColOffset2,
.ColOffset3,
.ColOffset4,
.ColOffset5,
.ColOffset6,
.ColOffset7,
.ColOffset8,
.ColOffset9,
.ColOffset10,
.ColOffset11,
.ColOffset12 {
  box-sizing: border-box;
  flex: 0 0 auto;
}

.Col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.Col1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.Col2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.Col3 {
  flex-basis: 25%;
  max-width: 25%;
}

.Col4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.Col5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.Col6 {
  flex-basis: 50%;
  max-width: 50%;
}

.Col7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.Col8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.Col9 {
  flex-basis: 75%;
  max-width: 75%;
}

.Col10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.Col11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.Col12 {
  flex-basis: 100%;
  max-width: 100%;
}

.ColOffset0 {
  margin-left: 0;
}

.ColOffset1 {
  margin-left: 8.33333333%;
}

.ColOffset2 {
  margin-left: 16.66666667%;
}

.ColOffset3 {
  margin-left: 25%;
}

.ColOffset4 {
  margin-left: 33.33333333%;
}

.ColOffset5 {
  margin-left: 41.66666667%;
}

.ColOffset6 {
  margin-left: 50%;
}

.ColOffset7 {
  margin-left: 58.33333333%;
}

.ColOffset8 {
  margin-left: 66.66666667%;
}

.ColOffset9 {
  margin-left: 75%;
}

.ColOffset10 {
  margin-left: 83.33333333%;
}

.ColOffset11 {
  margin-left: 91.66666667%;
}
